@tailwind base;
@tailwind components;
@tailwind utilities;
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}

.main-body {}

header {
    @apply font-serif;
    @apply text-4xl;
    @apply p-2;
    @apply text-center;
    @apply font-bold;
    @apply mt-5;
}

.button-main {
    @apply flex;
    @apply justify-evenly;
    @apply p-2;
}

.button-cancel,
.button-like {
    @apply p-3;
    @apply text-center;
    @apply w-16;
    @apply h-16;
    @apply rounded-full;
}

.button-cancel {
    @apply bg-red-200;
}

.button-like {
    @apply bg-green-200;
}

.cancel-icon {
    @apply text-red-700;
    @apply text-4xl !important;
    @apply font-bold;
}

.like-icon {
    @apply text-green-700;
    @apply text-4xl !important;
    @apply font-bold;
}

.button-like:hover {
    @apply bg-green-700;
}

.like-icon:hover {
    @apply text-green-200;
}

.button-like:focus {
    outline-style: none;
}

.button-cancel:hover {
    @apply bg-red-700;
}

.cancel-icon:hover {
    @apply text-red-200;
}

.button-cancel:focus {
    outline-style: none;
}

main {
    @apply flex;
    @apply justify-center;
}

.dogpic {
    height: 24.5em;
    width: 22em;
    object-fit: cover;
    @apply rounded-2xl;
    @apply m-5;
}

.likedDogs {
    @apply flex;
    @apply m-20;
    @apply gap-10;
    @apply content-evenly;
    @apply flex-wrap;
    @apply justify-evenly;
}

.dog-image {
    height: 20rem;
    width: 15rem;
    object-fit: cover;
    @apply rounded-2xl;
    @apply m-2;
}

@media (max-width: 500px) {
    .dogpic {
        height: 24em;
        width: 20em;
    }
}